<ul>
    <li id="" class="">Perfil
        <pre><%= JSON.stringify(perfil, null, '  ') %><pre>
    </li>
    <li id="" class="">Notas Parciais
        <pre><%= JSON.stringify(notasParciais, null, '  ') %><pre>
    </li>
    <li id="" class="">Disciplinas
        <pre><%= JSON.stringify(disciplinas, null, '  ') %><pre>
    </li>
    <li id="" class="">Horários
        <pre><%= JSON.stringify(horarios, null, '  ') %><pre>
    </li>
    <li id="" class="">Histórico
        <pre><%= JSON.stringify(historico, null, '  ') %><pre>
    </li>
    <li id="" class="">Grade Escolar
        <pre><%= JSON.stringify(gradeEscolar, null, '  ') %><pre>
    </li>
    <li id="" class="">Calendário
        <pre><%= JSON.stringify(calendario, null, '  ') %><pre>
    </li>
</ul>