<nav>
    <div id="resumoAluno">
        <h4><%= perfil.name.replace(/(\B)[^ ]*/g, c => c.toLowerCase()) %>
        </h4>
        <div id="resumoAlunoImgAlunoContainer">
            <img src="<%= perfil.picture %>">
        </div>
        <table>
            <tbody>
                <tr>
                    <td>PP <%= Math.round(perfil.progress) %>%</td>
                    <td>PR <%= perfil.averageGrade %></td>
                </tr>
                <tr>
                    <td colspan="2">RA: <%= perfil.code %></td>
                </tr>
            </tbody>
        </table>
    </div>
    <ul id="menu">
        <li class="menuItem" onclick="mostrarAba('abaPerfil')">Perfil</li>
        <li class="menuItem" onclick="mostrarAba('abaNotasParciais')">Notas Parciais</li>
        <li class="menuItem" onclick="mostrarAba('abaDisciplinas')">Disciplinas</li>
        <li class="menuItem" onclick="mostrarAba('abaHorarios')">Horários</li>
        <li class="menuItem" onclick="mostrarAba('abaHistorico')">Histórico</li>
        <li class="menuItem" onclick="mostrarAba('abaGradeEscolar')">Grade Escolar</li>
    </ul>
    <ul id="sair">
        <li onclick="sair()">Sair</li>
    </ul>
    <img id="menuIconeFixar" class="icon" src="media/icon_pin.png"
        onclick="alternarMenuFixo()" selected>
    <img id="menuIconeSeta" class="icon" src="media/icon_arrow_left.png">
</nav>