<h2><%= (notasParciais[0].discipline.periodId + 1) %>º Período</h2>
<% notasParciais.forEach((e, i) => { %>
    <div class="disciplina">
        <div class="cabecalhoDisciplina">
            <h4><%= e.discipline.name %></h4>
            <p><%= disciplinas[i].teacherName.replace(/(\B)[^ ]*/g, c => c.toLowerCase()) %></p>
        </div>
        <table>
            <tbody>
                <tr>
                    <td>Presenças</td>
                    <td><%= %></td>
                    <td>Faltas</td>
                    <td></td>
                </tr>
            </tbody>
        </table>
        <table>
            <thead>
                <tr>
                    <td>Média</td>
                    <td><%= e.discipline.grade %></td>
                </tr>
            </thead>
            <tbody>
                <% e.evaluations.forEach(notas => { %>
                    <tr>
                        <td><%= notas.description %></td>
                        <td><%= notas.grades[0].score %></td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
<% }) %>
<pre style="text-align: left">
    <%= JSON.stringify(disciplinas, null, '        ') %>
    <%= JSON.stringify(notasParciais, null, '        ') %>
</pre>