<h2><%= (notasParciais[0].discipline.periodId + 1) %>º Período</h2>
<%
    function compararNotasParciaisDisciplina(a, b) {
        if (a.discipline.name < b.discipline.name) 
            return -1;
        if (a.discipline.name > b.discipline.name) 
            return 1; 
        return 0; 
    }

    function compararDisciplinasNome(a, b) {
        if (a.name < b.name) 
            return -1;
        if (a.name > b.name) 
            return 1; 
        return 0; 
    }
%>
<% notasParciais.sort(compararNotasParciaisDisciplina).forEach((e, i) => { %>
    <div class="disciplina">
        <div class="tituloDisciplina">
            <h4><%= e.discipline.name %></h4>
            <p><%= disciplinas.sort(compararDisciplinasNome)[i].teacherName.replace(/(\B)[^ ]*/g, c => c.toLowerCase()) %></p>
        </div>
        <table>
            <thead>
                <tr>
                    <td>Média</td>
                    <td><%= e.discipline.grade %></td>
                </tr>
            </thead>
            <tbody>
                <% e.evaluations.forEach(notas => { %>
                    <tr>
                        <td><%= notas.description %></td>
                        <td><%= notas.grades[0].score %></td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
<% }) %>
<pre style="text-align: left">
    <%= JSON.stringify(notasParciais, null, '        ') %>
</pre>