<h2><%= (notasParciais[0].discipline.periodId + 1) %>º Período</h2>
<% notasParciais.forEach(e => { %>
    <div class="disciplina">
        <div class="tituloDisciplina">
            <h4><%= e.discipline.name %></h4>
        </div>
        <table>
            <thead>
                <tr>
                    <td>Média</td>
                    <td><%= e.discipline.grade %></td>
                </tr>
            </thead>
            <tbody>
                <% e.evaluations.forEach(notas => { %>
                    <tr>
                        <td><%= notas.description %></td>
                        <td><%= notas.grades[0].score %></td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
<% }) %>
<pre style="text-align: left">
    <%= JSON.stringify(notasParciais, null, '        ') %>
</pre>